# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.config
*.pdb
*.csproj
*.cache
*.exe
*.csproj.FileListAbsolute.txt
AssemblyInfo.cs
*.sln
*.csproj.FileListAbsolute.txt
2016/Temp/Day3.cs
2016/Temp/input.txt
.vs/AdventOfCode/FileContentIndex/3eae4fc7-c1bc-424b-8f39-c721eff246a3.vsidx
.vs/AdventOfCode/FileContentIndex/659e0fac-e5b6-4f5c-8220-9a0ab3cbe89a.vsidx
.vs/AdventOfCode/FileContentIndex/read.lock
.vs/AdventOfCode/v17/.suo
obj/AdventOfCode.csproj.nuget.dgspec.json
obj/AdventOfCode.csproj.nuget.g.props
obj/AdventOfCode.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/AdventOfCode.AssemblyInfo.cs
obj/Debug/net6.0/AdventOfCode.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/AdventOfCode.GlobalUsings.g.cs
obj/project.assets.json
.vs/AdventOfCode/FileContentIndex/1e9e13f5-8dd5-46a4-853d-0a3a214f57b6.vsidx
.vs/AdventOfCode/FileContentIndex/25943195-a789-4482-ae87-997f1e40f1fb.vsidx
.vs/AdventOfCode/FileContentIndex/637b6c7a-3f70-4e2f-8380-6bc45f407cf2.vsidx
.vs/AdventOfCode/FileContentIndex/c8a3a867-8773-4868-964b-ab0dc2c05028.vsidx
.vs/AdventOfCode/FileContentIndex/87bddba3-7a33-4592-b051-3a779483f2b6.vsidx
